body{
  color: rgb(255, 0, 208);
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

a{
  text-decoration: none;
}

h1{
  color: white;
  padding-left: 100px;
}

.conta{

  color: white;
}

.conta span{

  color: rgb(255, 0, 208);
}


.contact{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.contact nav a{
  color: white;
  padding: 60px;  
}

.contact nav a:hover{
  color: rgb(255, 0, 208);
  transition: .4s;
}

.number{
  display: flex;
  justify-content:center;
}

.number p{
  display: flex;
  align-items:center;
  padding-left: 10px;
}

.email{
  display:flex;
  justify-content:center;
  padding-left: 80px;
}

.email p{
    display:flex;
    align-items:center;
    padding-left: 10px;
  }

  .social{
    display:flex;
    justify-content:center;
    padding-left: 20px;
  }

.social p{
    display: flex;
    justify-content:center ;
  }

.form{
  padding-top: 20px;
  padding-left: 520px;

}
